@model IEnumerable<KD_Company.Models.CarDetails>
@{
    ViewData["Title"] = "CarList";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<table class="table">
    <thead class="thead-dark">
        <tr>
           
            <th scope="col">Name</th>
            <th scope="col">Brand Name</th>
            <th scope="col">Type</th>
            <th scope="col">Color</th>
            <th scope="col">Price</th>

            <th scope="col">Image</th>
            <th scope="col">   </th>




        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                
                <td>@item.CarName</td>
                <td>@item.BrandName</td>
                <td>@item.Type</td>
                <td>@item.Color</td>
                <td>@item.Price</td>

                <td><div class="owl-carousel owl-theme">
    <div class="item">
        <img width="250" height="150" src="~/Car/@item.FileName" alt="Course #1">
</div></div></td>
                <td>
                    <a href="Update?id=@item.Id";> <input type="button"  value="Update" /></a>
                    <a href="Delete?id=@item.Id";> <input type="button"  value="Delete" /></a>
                </td>   


            </tr>
        }
    </tbody>
</table>
