@model KD_Company.Models.CarDetails
@{
    ViewData["Title"] = "SingleProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section video" data-section="section5">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <article class="video-item">
                    <div class="video-caption">
                       
                    </div>
                    <figure>
                        <a href="https://www.youtube.com/watch?v=r9LtOG6pNUw" class="play"><img src="~/Car/@Model.FileName"></a>
                    </figure>
                </article>
            </div>
            <div class="col-md-6 align-self-center">
                <div class="left-content">

                    <h4>@Model.BrandName <em>@Model.CarName</em></h4>
                    <h4>Color: <em>@Model.Color</em></h4>
                    <h4>Vehicle Type: <em>@Model.Type</em></h4>
                    <h4>Price: <em>@Model.Price</em></h4>

                    <p>
                        @Model.Description
                    </p>

                    <div class="main-button"><a rel="nofollow" href="https://fb.com/templatemo" target="_parent">External URL</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

