@model KD_Company.Models.CarDetails
@{
    ViewData["Title"] = "SingleProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="section video" data-section="section5">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <article class="video-item">
                    <div class="video-caption">

                    </div>
                    <figure>
                        <a href="https://www.youtube.com/watch?v=r9LtOG6pNUw" class="play"><img src="~/Car/@Model.FileName"></a>
                    </figure>
                </article>
            </div>
            <div class="col-md-6 align-self-center">
                <div class="left-content">

                    <h4>@Model.BrandName <em>@Model.CarName</em></h4>
                    <h4>Color: <em>@Model.Color</em></h4>
                    <h4>Vehicle Type: <em>@Model.Type</em></h4>
                    <h4>Price: <em>@Model.Price</em></h4>

                    <p>
                        @Model.Description
                    </p>
                    <form method="get" action="ForBooking" enctype="multipart/form-data">
                        <div class="col-md-12">
                            <fieldset>
                                <input name="NoOfDays" type="text" class="form-control" id="email" placeholder="Duration" required="">
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <input id="prodId" name="Id" type="hidden" value="@Model.Id">

                        </div>

                        <div class="col-md-12">
                            <fieldset>
                                <button type="submit" id="form-submit" class="button">ForBooking</button>
                            </fieldset>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>